<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.4.4" targetFramework="net452" />
  <package id="ExcelLibrary" version="1.2011.7.31" targetFramework="net452" />
  <package id="Microsoft.Data.SqlClient.SNI" version="2.0.0" targetFramework="net471" />
  <package id="Microsoft.Identity.Client" version="4.14.0" targetFramework="net471" />
  <package id="Microsoft.IdentityModel.Logging" version="5.6.0" targetFramework="net471" />
  <package id="Microsoft.SqlServer.Management.SqlParser" version="160.20216.14" targetFramework="net471" />
  <package id="Microsoft.SqlServer.Smo.dll" version="1.0.1" targetFramework="net452" />
  <package id="PagedList" version="1.17.0.0" targetFramework="net452" />
  <package id="PersianDatePicker" version="1.1.0" targetFramework="net452" />
  <package id="PersianDateTime" version="1.1.5082.36395" targetFramework="net452" />
</packages>